@font-face{
    font-family:OpenSans;
    src:url(../../fonts/OpenSans.ttf);
}

@font-face{
    font-family:"glyphicons-halflings";
    src:url(../../fonts/glyphicons-halflings-regular.woff);
}

@font-face{
    font-family:"pictos-web";
    src:url(../../fonts/pictos-web.woff);
}

@font-face {
    font-family: "ionicons";
    src: url("../../fonts/ionicons.ttf");
}

@font-face {
    font-family: "nexa-light";
    src: url("../../fonts/nexa/Nexa-Light.otf");
}
@font-face {
    font-family: "nexa-regular";
    src: url("../../fonts/nexa/NexaRegular.otf");
}
@font-face {
    font-family: "nexa-medium";
    src: url("../../fonts/nexa/Nexa-Bold.otf");
}
@font-face {
    font-family: "nexa-bold";
    src: url("../../fonts/nexa/NexaHeavy.otf");
}
