.filters--form .form-group{
    display:inline-block;
    vertical-align: middle;
    margin:0 10px 10px 0;
}

.create--form {
    max-width: 750px;
    padding: 0 10px;
    margin: 0 auto;
}

.create--form label {
    padding: 3px 0;
}

.form-group{
    margin-bottom:10px;
}

.view_item .button{
    margin:auto;
}

.add_new_purchase_order_line,
.add_new_sale_order_line{
    margin:20px auto;
}